<% include ../partials/header.ejs %>

<div class="headpic" style="border:solid; color:white; height:50%;">
  <div class="headback" style="border:solid; color:whitesmoke; height:600px;background-image:url(./pic/pixel-art-mountains-waterfall-trees-planet-centauri-1380079-wallhere.com.jpg); background-repeat: no-repeat;  background-size: cover;">
    <div class="row" style="margin-top:60px;">
  <div class="col-12"style=" text-align: center;"> 
    <label for="email" style="font-family:pixel; color:black; font-size: 100px;">Play Store</label>
    <form action="/">
      <div style="margin-left:400px;" >
        <input type="email" class="form-control" style="width:500px;" id="email"><button type="submit" style="color:black;" class="btn btn-default">ค้นหา</button>
      </div>
      
    </form>
  </div> 
</div>
    <div class="buttompic" style="height: 100px; margin-top:250px;">
      <div class="row">
      <div class="col-1 button buttom1"style="border:solid; border-radius: 25px;  width: 50px; height: 100px; margin-left:300px; background-color:white; text-align:center;"><div class="col-12"><i class="fas fa-user-tie"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/BUSINESS">Business</a></div></div>
      <div class="col-1 buttom2"style="border:solid; border-radius: 25px;  width: 50px; height: 100px; background-color:white; text-align:center; "><div class="col-12"><i class="fab fa-google-play"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/ENTERTAINMENT">Entertain</a></div></div>
      <div class="col-1 buttom3"style="border:solid; border-radius: 25px; width: 50px; height: 100px; background-color:white; text-align:center;"><div class="col-12"><i class="fas fa-camera-retro"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/PHOTOGRAPHY">Photo</a></div></div>
      <div class="col-1 buttom4"style="border:solid; border-radius: 25px; width: 50px; height: 100px; background-color:white; text-align:center;"><div class="col-12"><i class="far fa-comments"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/SOCIAL">Social</a></div></div>
      <div class="col-1 buttom5"style="border:solid; border-radius: 25px; width: 50px; height: 100px; background-color:white; text-align:center;"><div class="col-12"><i class="fab fa-pagelines"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/LIFESTYLE">LifeStyle</a></div></div>
      <div class="col-1 buttom6"style="border:solid; border-radius: 25px; width: 50px; height: 100px; background-color:white; text-align:center;"><div class="col-12"><i class="fas fa-graduation-cap"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;"><a href="/show_apps/EDUCATION">Education</a></div></div>
      <div class="col-1 buttom7"style="border:solid; border-radius: 200px;  width: 50px; height: 100px; background-color:white; text-align:center;"><div class="col-12"><i class="fas fa-caret-down"style="font-size:50px; color:black; margin-top:12px;"></i></div><div style="color:black;">More..</div></div>
    </div>
  </div>
  

    
</div>

<div class="container">
  <div class="title" style="margin-top:50px;">
    

</div>
<div class="row">

  <div class="col-lg-3" style="border:solid; border-radius: 10px;  margin-top:20px; background-color: white; ">

    <h1 class="my-4" style="font-family:pixel;color:black;">Search</h1>
    <div class="list-group">
      <div class="new"style="color:black;"><a href="/appnews">แอปยอดนิยม</a></div>
      <div class="new"style="color:black;"><a href="/appnews">ยอดดาวน์โหลดสูงสุด</a></div>
      <div class="new"style="color:black;"><a href="/appnews">แอปยอดนิยม</a></div>
    </div>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<div class="more" style="text-align:right"><button type="button" class="btn btn-light" onclick="location.href='show_apps'">
    <h2>เพิ่มเติม >></h2>
  </button></div>
  
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[0].app %></a>
            </h4>
            <h5><%= posts[0].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <select class="star" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[1].app %></a>
            </h4>
            <h5><%= posts[1].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="card-footer">
            <select class="star" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[2].app %></a>
            </h4>
            <h5><%= posts[2].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <select class="star" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[3].app %></a>
            </h4>
            <h5><%= posts[3].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <select class="star" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[4].app %></a>
            </h4>
            <h5><%= posts[4].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="card-footer">
            <select class="star" sele>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= posts[5].app %></a>
            </h4>
            <h5><%= posts[5].price %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
     
           <div id="demo"class="demo"></div>
           
          
               </div>
           </div>
           </div>
          </div>
        </div>
      </div>
     
    </div>
  

 



<script type="text/javascript">
   $(function() {
      $('.star').barrating({
        theme: 'fontawesome-stars',
        readonly: true

      });
   });
</script>


<% include ../partials/footer.ejs %>