<% include ../partials/header.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<canvas id="myChart"></canvas>

<script>
var monthNames = ["","January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
var ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.height = 50;

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["Report 2018 ยอดรวมทั้งหมดในแต่ละเดือน"],
        datasets:getLineData(),
    },
   
    // Configuration options go here
    options: { 
    responsive: true,
    maintainAspectRatio: true,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }}
});


function getLineData() {
  var data = []
  //for(var i=0; i < test; i++) {
   <% for(var ei =0; ei <results2.results2.length; ei++){ %>
    data.push({
        label: monthNames[<%= results2.results2[ei].buy_at %>],
        backgroundColor: getRandomColor(),
        data: [<%= results2.results2[ei].sale %>],
        
         });
        
 <% } %>

  return data
  
}
function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>

<div class="container" style="margin-bottom:50px;">
<h2>รายการยอดขายสินค้าในปี 2018</h2>
<div class="table-wrapper-scroll-y" style="display: block;max-height: 200px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tag</th>
            <th>Date</th>
            <th>Sale</th>
        </tr>
    </thead>
    <tbody>
    <% results.results.forEach(function(r) { %>
        <tr>
            <td><%= r.id%></td>
            <td><%= r.tag %></td>
            <td><%= r.buy_at%> </td>   
            <td><%= r.sale%>  Bath </td>         
        
        </tr>
        
        <% }); %>   
        <tr>Total:</tr>
    
        

    </tbody>

</table>
</div>

</div>

<% include ../partials/footer.ejs %>