<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<canvas id="myChart"></canvas>

<script>
var monthNames = ["","January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
var ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.height = 100;
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["Storage is now"],
        datasets: [{
            label: monthNames["<%= results2.results2[0].buy_at %">],
            backgroundColor: 'rgb(255, 102, 178)',
            borderColor: 'rgb(255, 102, 178)',
            data: [0],
            
        },
        {
            label: monthNames["<%= results2.results2[1].buy_at %>"],
            backgroundColor: 'rgb(255, 178, 102)',
            borderColor: 'rgb(255, 178, 102)',
            data: [0],
    },{

            label: monthNames["<%= results2.results2[2].buy_at %>"],
            backgroundColor: 'rgb(0, 255, 255)',
            borderColor: 'rgb(0, 255, 255)',
            data: [0],

    },{
            label: monthNames["<%= results2.results2[3].buy_at %>"],
            backgroundColor: 'rgb(204, 255, 153)',
            borderColor: 'rgb(204, 255, 153)',
            data: [0],

    },{
            label: monthNames["<%= results2.results2[4].buy_at %>"],
            backgroundColor: 'rgb(64, 64, 64)',
            borderColor: 'rgb(64, 64, 64)',
            data: [0],

    }]
    },
   
    // Configuration options go here
    options: { 
    responsive: true,
    maintainAspectRatio: true,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }}
});

 

</script>

<div class="container">
<h2>Database Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tag</th>
        </tr>
    </thead>
    <tbody>
  
        <tr>
            <td><%= results%></td>
            <td><%= results2.results2[0].sale %></td>   
                   
        
        </tr>
        
  
    
    
        

    </tbody>

</table>
<div id ="total"> </div>

</div>

<% include ../partials/footer.ejs %>