<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>




<div class="container">
<h2>Database Results</h2>
<table class="table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Password</th>
          <th>Date</th>
          <th><a name="" id="" class="btn btn-secondary" href="insert_user" role="button">Add New</a></th>
      </tr>
  </thead>
  <tbody>
  <% results.forEach(function(r) { %>
      <tr>
          <td><%= r.id %></td>
          <td><%= r.email %></td>
          <td><%= r.password %></td>
          <td><%= r.create_at %></td>   
          <td><a name="" id="" class="btn btn-primary" href="/user_list/<%= r.id %>" role="button">Edit</a></td>
          
      </tr>
  <% }); %>    
  </tbody>
</table>


</div>
<% include ../partials/footer.ejs %>
